.App {
  text-align: center;
}

h{
  display: grid;
  font-family: times;
  font-size: 40px;
  justify-content: center;
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 100px 100px 100px;

  justify-content: center;
}

.grid-item {
  padding: 30px;
  background-color: pink;
  text-align: center;
  font-family: times;
}

.reset-button{
  grid-row: 4;
  grid-column: 2;
  text-align: center;
}

#app{
  grid-row: 3;
  grid-column: 3;
}
